pip==9.0.1
bumpversion==0.5.3
wheel==0.29.0
watchdog==0.8.3
flake8==3.2.1
tox==2.5.0
coverage==4.3.4
Sphinx==1.5.2
cryptography==1.7.2
PyYAML==3.12
pytest==2.9.2
autopep8==1.2.4
importmagic==0.1.7
jedi==0.10.0
pep8==1.7.0
rope==0.10.3
yapf==0.15.2
mypy==0.470
docutils==0.12
